@attribute [Route(ClientRoutes.Accounts.Manage.Disable2Fa)]

@inject UserManager<AppUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>غیرفعال سازی رمز دو مرحله ای (2FA)</PageTitle>

<StatusMessage />
<h3>غیرفعال سازی رمز دو مرحله ای (2FA)</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>انجام این عملیات باعث غیرفعال سازی تایید دو مرحله ای می گردد</strong>
    </p>
    <p>
        غیرفعال کردن تأیید هویت دو مرحله‌ای، کلیدهای استفاده شده در برنامه‌های احراز هویت را تغییر نمی‌دهد.
        اگر می‌خواهید کلید مورد استفاده در یک برنامه احراز هویت را تغییر دهید، باید <a href="@ClientRoutes.Accounts.Manage.ResetAuthenticator">کلیدهای احراز هویت خود را بازنشانی کنید.</a>
    </p>
</div>

<div>
    <form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">غیرفعال سازی 2FA</button>
    </form>
</div>

@code {
    private AppUser _user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(_user))
        {
            throw new InvalidOperationException("Cannot disable 2FA for user as it's not currently enabled.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2FaResult = await UserManager.SetTwoFactorEnabledAsync(_user, false);
        if (!disable2FaResult.Succeeded)
            throw new InvalidOperationException("Unexpected error occurred disabling 2FA.");

        var userId = await UserManager.GetUserIdAsync(_user);
        Logger.LogInformation("User with ID '{UserId}' has disabled 2fa.", userId);
        RedirectManager.RedirectToWithStatus(
            ClientRoutes.Accounts.Manage.TwoFactorAuthentication,
            "تأیید هویت دو مرحله‌ای غیرفعال شده است. شما می‌توانید هنگام تنظیم برنامه احراز هویت، دوباره تأیید هویت دو مرحله‌ای را فعال کنید.",
            HttpContext);
    }
}
