@attribute [Route(ClientRoutes.Accounts.Manage.GenerateRecoveryCodes)]

@inject UserManager<AppUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>ایجاد کدهای ریکاوری برای احراز هویت دو مرحله‌ای</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">ایجاد کدهای بازیابی برای احراز هویت دو مرحله‌ای</MudText>

<hr />

@if (_recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="_recoveryCodes.ToArray()" StatusMessage="@_message" />
}
else
{
    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Start">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>این کدها را در جای امنی قرار دهید.</strong>
        </p>
        <p>
            در صورت گم شدن دستگاه و عدم دسترسی به کدهای بازیابی، دسترسی شما به حسابتان قطع خواهد شد.
        </p>
        <p>
            تولید کدهای بازیابی جدید، کلیدهای استفاده شده در برنامه‌های احراز هویت را تغییر نمی‌دهد.
            اگر می‌خواهید کلید مورد استفاده در یک برنامه احراز هویت را تغییر دهید، باید <MudLink href="@ClientRoutes.Accounts.Manage.ResetAuthenticator">کلیدهای احراز هویت خود را بازنشانی کنید.</MudLink>
        </p>
    </MudAlert>

    <div>
        <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
            <AntiforgeryToken />
            
            <MudStaticButton StartIcon="@Icons.Material.Filled.Autorenew" Variant="Variant.Filled" Color="Color.Primary"
                             Size="Size.Large" FormAction="FormAction.Submit">تولید کلیدهای بازیابی</MudStaticButton>
        </form>
    </div>
}

@code {
    private string? _message;
    private AppUser _user = default!;
    private IEnumerable<string>? _recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var isTwoFactorEnabled = await UserManager.GetTwoFactorEnabledAsync(_user);
        if (!isTwoFactorEnabled)
        {
            throw new InvalidOperationException("Cannot generate recovery codes for user because they do not have 2FA enabled.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var userId = await UserManager.GetUserIdAsync(_user);
        _recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(_user, 10);
        _message = "کدهای بازیابی جدید ساخته شد.";

        Logger.LogInformation("User with ID '{UserId}' has generated new 2FA recovery codes.", userId);
    }
}
