@page "/"
@using GoldEx.Shared.Routings

<PageTitle>صفحه اصلی</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <div class="row">
        <div class="col-12 col-md-6">
            <MudText Typo="Typo.h4" Style="font-weight: 500"> میز خدمات الکترونیکی گلدکس</MudText>
            <div class="my-4">
                <AuthorizeView>
                    <Authorized>
                        <strong>@context.User.GetDisplayName()، </strong> به سامانه گلدکس خوش آمدید
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end p-5">
                    <MudButton Href="@ClientRoutes.Accounts.Login" Variant="Variant.Filled" Color="Color.Primary">
                        ورود به حساب کاربری
                    </MudButton>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <MudExpansionPanels Elevation="3">
        <MudExpansionPanel Text="قیمت ارز، طلا و سکه">
            <PriceBoard Class="mt-2" />
        </MudExpansionPanel>
        <MudExpansionPanel Text="اجناس من">
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudContainer>