<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="local" value="./nuget" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="nuget.medixapp.ir" value="https://nuget.medixapp.ir/nuget" allowInsecureConnections="true" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="local">
			<package pattern="DevExpress.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="nuget.medixapp.ir">
			<package pattern="VHD*" />
		</packageSource>
	</packageSourceMapping>
</configuration>