<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="local" value="./nuget" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!-- <add key="nuget.puyabi.ir" value="https://nuget.puyabi.ir/v3/index.json" allowInsecureConnections="true" /> -->
	</packageSources>
	<packageSourceMapping>
		<packageSource key="local">
			<package pattern="DevExpress.*" />
			<package pattern="VHD*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<!-- <packageSource key="nuget.puyabi.ir">
			<package pattern="VHD*" />
		</packageSource> -->
	</packageSourceMapping>
</configuration>