<MudCard Class="p-4" Elevation="24">
    <div class="d-flex justify-content-between w-100 gap-2">
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
    </div>
    <div class="d-flex justify-content-between w-100 gap-2">
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
        <MudSpacer />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="200px" Height="60px" />
    </div>
    <div class="d-flex justify-content-between w-100 gap-2">
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="150px" Height="60px" />
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="700px" Height="60px" />
    </div>
    <MudGrid Class="mt-0 mb-2">
        <MudItem xs="12" md="3">
            <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Height="25px" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Height="25px" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Height="25px" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Height="25px" />
        </MudItem>
    </MudGrid>
    <div class="d-flex justify-content-between w-100 gap-2">
        <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="150px" Height="60px" />
    </div>

    <MudDivider Class="mb-2"/>

    <div class="my-2">
        <MudTabs Elevation="2" Rounded="true" Centered="true" MinimumTabWidth="50px">
            <MudTabPanel Text="طلا، جواهر و آبشده" Icon="@Icons.Material.Filled.Diamond" IconColor="Color.Info">
                <div class="mt-2 pa-4">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="200px"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="سکه" Icon="@Icons.Material.Filled.MonetizationOn" IconColor="Color.Primary">
                <div class="mt-2 pa-4">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="200px"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="ارز" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Success">
                <div class="mt-2 pa-4">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="200px"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="خرید طلای مستعمل" Icon="@Icons.Material.Filled.Recycling" IconColor="Color.Error">
                <div class="mt-2 pa-4">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="200px"/>
                </div>
            </MudTabPanel>
        </MudTabs>
    </div>

    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" Width="100%" Height="35px" Class="mt-2"/>
</MudCard>