@attribute [Route(ClientRoutes.Calculator.Currency)]

<PageTitle>مبدل ارز</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <MudText Typo="Typo.h4" Class="mb-2 mt-4">مبدل ارز</MudText>
            <MudText Typo="Typo.body1">با دریافت نرخ لحظه ای تمامی ارزها</MudText>
        </div>
    </div>

    <CurrencyExchange Class="mt-4" Elevation="24"></CurrencyExchange>
</div>