@page "/"

<PageTitle>ماشین حساب گلدکس</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>ماشین حساب گلدکس</h1>
            <p>به ماشین حساب گلدکس خوش آمدید! این ابزار به شما کمک می‌کند تا محاسبات مالی خود را به راحتی انجام دهید.</p>
            <a href="/calculator" class="btn btn-primary">شروع به استفاده</a>
        </div>
    </div>

</div>