@attribute [Route(ClientRoutes.Calculator.Reverse)]

<PageTitle>محاسبه گر وزن</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <MudText Typo="Typo.h4" Class="mb-2 mt-4">ارز به طلا</MudText>
            <MudText Typo="Typo.body1">نرخ ارز رو وارد کن وزن طلا بگیر!</MudText>
        </div>
    </div>

    <ReverseCalculator Class="mt-4" Elevation="24"></ReverseCalculator>
</div>