@inherits LayoutComponentBase

<PageTitle>گلدکس</PageTitle>

<MudRTLProvider RightToLeft="true">
    <MudThemeProvider Theme="@_theme" IsDarkMode="IsDarkMode" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    @Body

    <div id="blazor-error-ui" data-nosnippet>
        خطایی در حین اجرای برنامه رخ داد
        <a href="." class="reload">بارگذاری مجدد</a>
        <span class="dismiss">🗙</span>
    </div>
</MudRTLProvider>


@code {
    private readonly MudTheme _theme = new()
        {
            PaletteLight = new PaletteLight
            {
                Black = "#110e2d",
                AppbarText = "#424242",
                AppbarBackground = "rgba(255,255,255,0.8)",
                DrawerBackground = "#ffffff",
                GrayLight = "#e8e8e8",
                GrayLighter = "#f9f9f9",
            },
            PaletteDark = new PaletteDark
            {
                Primary = "#7e6fff",
                Surface = "#1e1e2d",
                Background = "#1a1a27",
                BackgroundGray = "#151521",
                AppbarText = "#92929f",
                AppbarBackground = "rgba(26,26,39,0.8)",
                DrawerBackground = "#1a1a27",
                ActionDefault = "#74718e",
                ActionDisabled = "#9999994d",
                ActionDisabledBackground = "#605f6d4d",
                TextPrimary = "#b2b0bf",
                TextSecondary = "#92929f",
                TextDisabled = "#ffffff33",
                DrawerIcon = "#92929f",
                DrawerText = "#92929f",
                GrayLight = "#2a2833",
                GrayLighter = "#1e1e2d",
                Info = "#4a86ff",
                Success = "#3dcb6c",
                Warning = "#ffb545",
                Error = "#ff3f5f",
                LinesDefault = "#33323e",
                TableLines = "#33323e",
                Divider = "#292838",
                OverlayLight = "#1e1e2d80",
            },
            LayoutProperties = new LayoutProperties(),
            Typography = new Typography
            {
                Default = new DefaultTypography
                {
                    FontFamily = ["Vazirmatn", "Helvetica", "Arial", "sans-serif"]
                }
            }
        };

    [Inject] private IThemeService? ThemeService { get; set; }

    protected override void OnInitialized()
    {
        if (ThemeService is ThemeService service)
        {
            service.OnToggleMode += OnToggleMode;
            IsDarkMode = service.IsDarkMode;
        }

        base.OnInitialized();
    }

    public void OnToggleMode(object? sender, EventArgs e)
    {
        IsDarkMode = ThemeService?.IsDarkMode ?? false;
        StateHasChanged();
    }

    public bool IsDarkMode { get; set; }
}