@inherits LayoutComponentBase

<PageTitle>گلدکس</PageTitle>

<MudRTLProvider RightToLeft="true">
    <MudThemeProvider Theme="@_theme" IsDarkMode="IsDarkMode" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    @Body

    <div id="blazor-error-ui" data-nosnippet>
        خطایی در حین اجرای برنامه رخ داد
        <a href="." class="reload">بارگذاری مجدد</a>
        <span class="dismiss">🗙</span>
    </div>
</MudRTLProvider>

@code {
    private readonly MudTheme _theme = new()
        {
            PaletteLight = new PaletteLight
            {
                Black = "#110e2d",
                AppbarText = "#424242",
                AppbarBackground = "rgba(255,255,255,0.8)",
                DrawerBackground = "#ffffff",
                GrayLight = "#e8e8e8",
                GrayLighter = "#f9f9f9",

                // Option 1: Using the predefined Material Color Name
                Primary = Colors.Blue.Default, // Blue (you can also use Colors.Blue.Normal)
                Secondary = Colors.Blue.Accent1, // Blue accent (optional)

                // Option 2: If you want more control, use hex codes directly:
                // Primary = "#FFC107",  // Amber
                // Secondary = "#FF9800", // Amber accent (optional)

                // If you want to use amber for specific components (e.g., buttons):
                // Warning = Colors.Amber.Darken2,  // Example: Amber for warnings
                // Error = Colors.Red.Accent4, // Example: Red for errors (if needed)
                // Info = Colors.Blue.Lighten1, // Example: Blue for info (if needed)
                // Success = Colors.Green.Normal, // Example: Green for success (if needed)

            },
            PaletteDark = new PaletteDark
            {
                Primary = Colors.Blue.Default, // Blue
                Secondary = Colors.Blue.Accent2, // Blue accent (optional)
                Surface = "#1e1e2d",
                Background = "#1a1a27",
                BackgroundGray = "#151521",
                AppbarText = "#92929f",
                AppbarBackground = "rgba(26,26,39,0.8)",
                DrawerBackground = "#1a1a27",
                ActionDefault = "#74718e",
                ActionDisabled = "#9999994d",
                ActionDisabledBackground = "#605f6d4d",
                TextPrimary = "#b2b0bf",
                TextSecondary = "#92929f",
                TextDisabled = "#ffffff33",
                DrawerIcon = "#92929f",
                DrawerText = "#92929f",
                GrayLight = "#2a2833",
                GrayLighter = "#1e1e2d",
                Info = "#4a86ff",
                Success = "#3dcb6c",
                Warning = "#ffb545",
                Error = "#ff3f5f",
                LinesDefault = "#33323e",
                TableLines = "#33323e",
                Divider = "#292838",
                OverlayLight = "#1e1e2d80",
            },
            LayoutProperties = new LayoutProperties(),
            Typography = new Typography
            {
                Default = new DefaultTypography
                {
                    FontFamily = ["Vazirmatn", "Helvetica", "Arial", "sans-serif"]
                }
            }
        };

    public bool IsDarkMode { get; set; }

    [Inject] private IThemeService? ThemeService { get; set; }
    [Inject] private ILocalStorageService LocalStorage { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (ThemeService is ThemeService service)
        {
            service.OnToggleMode += OnToggleMode;
            IsDarkMode = service.IsDarkMode;
        }

        await base.OnInitializedAsync();
    }

    public void OnToggleMode(object? sender, EventArgs e)
    {
        IsDarkMode = ThemeService?.IsDarkMode ?? false;
        SetThemeMode(IsDarkMode);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTheme();
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task LoadTheme()
    {
        var themeMode = await LocalStorage.GetItemAsStringAsync("IsDarkMode");

        if (!string.IsNullOrEmpty(themeMode) && bool.TryParse(themeMode, out var isDarkMode))
            SetThemeMode(isDarkMode);
    }

    private void SetThemeMode(bool isDarkMode)
    {
        IsDarkMode = isDarkMode;
        LocalStorage.SetItemAsStringAsync("IsDarkMode", IsDarkMode.ToString());
        StateHasChanged();
    }
}