@inherits LayoutComponentBase
@layout BaseLayout

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <MudContainer MaxWidth="MaxWidth.Small" Class="mx-auto mt-5">
        <MudPaper Elevation="4" Class="p-4">
            @Body
        </MudPaper>
    </MudContainer>
</div>