@using ZXingBlazor.Components

<MudPaper Class="pa-4 my-2" Elevation="4" Outlined="true">
    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="d-flex justify-center align-center flex-column gap-2" style="height: 300px;">
            <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large" />
            <MudText Color="Color.Error">@_errorMessage</MudText>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ReloadAsync">تلاش دوباره</MudButton>
        </div>
    }
    else
    {
        <div class="scanner-wrapper">

            <BarcodeReader @ref="_reader"
                           ScanResult="HandleBarcode"
                           OnError="HandleError"
                           UseBuiltinDiv="true"
                           Options="_options" />

            <div style="position: absolute; bottom: 10px; width: 100%; text-align: center; z-index: 999;">
                <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="CloseScanner">بستن دوربین</MudButton>
            </div>
        </div>
    }
</MudPaper>

@code {
    [Parameter] public EventCallback<string> OnResult { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private BarcodeReader? _reader;
    private string? _errorMessage;
    private string? _lastResult;

    private readonly ZXingOptions _options = new ZXingOptions
    {
        Width = 1280,
        Height = 720,
        DecodeAllFormats = false,
        formats =
        [
            BarcodeFormat.CODE_128
        ]
    };

    private async Task HandleBarcode(string result)
    {
        if (string.IsNullOrWhiteSpace(result)) return;
        if (_lastResult == result) return;
        _lastResult = result;
        await OnResult.InvokeAsync(result);
    }

    private async Task ReloadAsync()
    {
        _errorMessage = null;
        StateHasChanged();
        await Task.Delay(100);
        if (_reader != null) await _reader.Start();
    }

    private async Task CloseScanner()
    {
        if (_reader != null) await _reader.Stop();
        await OnClose.InvokeAsync();
    }

    private Task HandleError(string message)
    {
        _errorMessage = message;
        if (_errorMessage.Contains("NotAllowedError") || _errorMessage.Contains("Permission denied"))
            _errorMessage = "دسترسی به دوربین مجاز نیست.";
        else if (_errorMessage.Contains("NotFoundError"))
            _errorMessage = "دوربینی پیدا نشد.";

        StateHasChanged();
        return Task.CompletedTask;
    }
}