@using GoldEx.Shared.DTOs.Blogs.BlogPosts
@using GoldEx.Shared.Services.Abstractions
@inherits GoldExComponentBase

<MudDialog>
    <DialogContent>
        <div style="height: calc(100vh - 120px); overflow-y: auto;" class="row">
            @if (_blogPost is null)
            {
                <div class="d-flex flex-column align-center gap-4">
                    <MudProgressLinear Indeterminate="true"></MudProgressLinear>
                    <MudText>در حال بارگیری...</MudText>
                </div>
            }
            else
            {
                @(new MarkupString(_blogPost.Content))
            }
        </div>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Close" Color="Color.Primary">
            بستن
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    private BlogPostResponse? _blogPost;
    [CascadingParameter] IMudDialogInstance Dialog { get; set; } = default!;
    [Parameter] public string Slug { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        await LoadBlogAsync(Slug);
        await base.OnParametersSetAsync();
    }

    private async Task LoadBlogAsync(string slug)
    {
        await SendRequestAsync<IBlogPostService, BlogPostResponse?>(
            action: (s, ct) => s.GetAsync(slug, ct),
            afterSend: response => _blogPost = response);
    }

    private void Close() => Dialog.Close();
}