@page "/"

<PageTitle>صفحه اصلی</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3 class="m-0" style="font-weight: 600;">
                میز خدمات الکترونیکی گلدکس
            </h3>
            <div class="my-4">
                <AuthorizeView>
                    <Authorized>
                        <strong>@context.User.GetDisplayName()، </strong> به سامانه گلدکس خوش آمدید
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end p-5">
                    <MudButton Href="/account/login" Variant="Variant.Filled" Color="Color.Primary">
                        ورود به حساب کاربری
                    </MudButton>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</MudContainer>