@using GoldEx.Client.Pages.InventoryStocks.Components.MeltingBatches
@inherits GoldExComponentBase

<MudPaper Elevation="@Elevation" Class="@Class">
    <MudStepper @ref="_stepper" ActiveIndex="_activeIndex" ActiveIndexChanged="OnIndexChanged">
        <ChildContent>
            <MudStep Title="انتخاب محصولات">
                <ProductSelectionStep @bind-Model="_model" 
                                      OnMeltingProducts="HandleMeltingProducts" 
                                      Processing="_processing" />
            </MudStep>

            <MudStep Title="ارسال به آزمایشگاه">
                <LabSubmissionStep @bind-Model="_model" 
                                   OnSendToLab="HandleSendToLab" 
                                   Processing="_processing" />
            </MudStep>

            <MudStep Title="تبدیل به طلای آبشده">
                <MeltedGoldStep @bind-Model="_model" 
                                OnCompleteProcess="HandleCompleteProcess" 
                                Processing="_processing"
                                FinancialAccounts="_financialAccounts"
                                OnAddFinancialAccount="OnAddFinancialAccount"
                                OnSelectFeePriceUnit="SelectFeePriceUnit"
                                PriceUnits="_priceUnits" />
            </MudStep>
        </ChildContent>
        <ActionContent>
            <div class="d-flex justify-content-center align-items-center w-100 my-2">
                <MudButton Variant="Variant.Filled" 
                           Color="Color.Info" 
                           OnClick="BackToList" 
                           StartIcon="@Icons.Material.Filled.ExitToApp">بازگشت به لیست</MudButton>
            </div>
        </ActionContent>
    </MudStepper>
</MudPaper>