@using GoldEx.Client.Pages.InventoryEntry.Components

@inherits GoldExComponentBase
@attribute [Route(ClientRoutes.InventoryStocks.InventoryEntry.Index)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>ورود دستی اجناس</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Class="pr-0" Items="_breadcrumbs">
        <SeparatorTemplate>
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Small" />
        </SeparatorTemplate>
    </MudBreadcrumbs>

    <div class="d-flex justify-content-center gap-2">
        <MudTooltip Text="توجه: از این قابلیت فقط هنگام راه اندازی برنامه استفاده شود. برای ورود اجناس پس از راه اندازی برنامه، از طریق فاکتور خرید اقدام کنید." 
                    Arrow="true" Color="Color.Error">
            <MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Large" Color="Color.Error" />
        </MudTooltip>
        <MudText Typo="Typo.h5" GutterBottom="true" Class="text-center">ورود دستی اجناس</MudText>
    </div>
    <MudDivider Class="mb-2" />

    <InventoryEntryContainer Class="mb-4" />

</MudContainer>