<MudText Typo="Typo.h6">کدهای بازیابی</MudText>
<StatusMessage Message="@StatusMessage" />
<MudAlert ContentAlignment="HorizontalAlignment.Start" Severity="Severity.Warning">
    <p>
        <strong>این کدها را در مکان امنی قرار دهید</strong>
    </p>
    <p>
        اگر دستگاه خود را گم کنید و کدهای بازیابی را نداشته باشید، دسترسی به حساب خود را از دست خواهید داد.
    </p>
</MudAlert>
<div class="row">
    <div class="col-md-12 mt-2 text-center">
        @foreach (var recoveryCode in RecoveryCodes)
        {
            <div>
                <code class="recovery-code">@recoveryCode</code>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string[] RecoveryCodes { get; set; } = [];

    [Parameter]
    public string? StatusMessage { get; set; }
}
