@using GoldEx.Shared.DTOs.Reports
@inherits GoldExComponentBase

@attribute [Route(ClientRoutes.Settings.ReportsList)]
@attribute [Authorize(Roles = $"{BuiltinRoles.Administrators}, {BuiltinRoles.Owners}")]

<PageTitle>لیست گزارش ها</PageTitle>

<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">لیست گزارش ها</MudText>
</div>
<MudDivider Class="my-2" />

<MudTable T="GetReportResponse" Hover="true" FixedHeader="true" Dense="true" Items="_reports"
          SelectOnRowClick="false" Breakpoint="Breakpoint.Xs" Elevation="24" Height="350px">
    <HeaderContent>
        <MudTh>نام</MudTh>
        <MudTh>عنوان یکتا</MudTh>
        <MudTh>عملیات</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="نام">@context.DisplayName</MudTd>
        <MudTd DataLabel="عنوان یکتا">@context.Name</MudTd>
        <MudTd DataLabel="عملیات">
            <div class="d-flex gap-2">
                <MudTooltip Text="طراحی">
                    <MudButton StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                   Color="Color.Primary" OnClick="_ => OnDesignReport(context)">طراحی</MudButton>
                </MudTooltip>
            </div>
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>هیچ گزارشی وجود ندارد</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>در حال بارگذاری</MudText>
    </LoadingContent>
</MudTable>