@attribute [Route(ClientRoutes.Reporting.DesignReport)]

<PageTitle>طراحی گزارش @(DisplayName ?? Name)</PageTitle>

<div class="d-flex align-center justify-space-between">
    <MudText Typo="Typo.h6" GutterBottom="true">طراحی گزارش @(DisplayName ?? Name)</MudText>
</div>
<MudDivider Class="my-2" />

<DxWasmReportDesigner ReportName="@Name" Height="700px" Width="100%" DevelopmentMode=true>
    <DxWasmReportDesignerRequestOptions GetDesignerModelAction="DXXRD/GetReportDesignerModel">
    </DxWasmReportDesignerRequestOptions>
    <DxReportDesignerModelSettings AllowMDI=true RightToLeft="true">
        <DxReportDesignerWizardSettings UseFullscreenWizard=true/>
    </DxReportDesignerModelSettings>
</DxWasmReportDesigner>