@page "/Account/ConfirmEmail"

@using System.Text
@using GoldEx.Sdk.Server.Domain.Entities.Identity
@using GoldEx.Server.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using GoldEx.Server.Components.Account.Shared

@inject UserManager<AppUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>تایید ایمیل</PageTitle>

<h1>تایید ایمیل</h1>
<StatusMessage Message="@_statusMessage" />

@code {
    private string? _statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = $"Error loading user with ID {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            _statusMessage = result.Succeeded ? "از تأیید ایمیلتان متشکریم" : "خطا در تایید آدرس ایمیل";
        }
    }
}
