@attribute [Route(ClientRoutes.Accounts.InvalidPasswordReset)]

<PageTitle>بازنشانی نامعتبر رمز عبور</PageTitle>

<h1>بازنشانی نامعتبر رمز عبور</h1>
<p role="alert">
    لینک بازنشانی رمز عبور معتبر نیست
</p>
