@attribute [Route(ClientRoutes.Accounts.Lockout)]
@layout EmptyBoxLayout

<PageTitle>حساب مسدود</PageTitle>

<MudStack AlignItems="AlignItems.Center">
    <MudItem>
        <span class="brand-text" dir="ltr">GoldEx</span>
    </MudItem>
    <MudItem>
        <MudText Align="Align.Center" Typo="Typo.h5" GutterBottom="true">حساب شما مسدود شده است</MudText>
    </MudItem>
    <MudItem>
        <MudText Align="Align.Center" Typo="Typo.body1">حساب شما به دلایل امنیتی مسدود شده است. لطفا بعدا تلاش کنید</MudText>
    </MudItem>
    <MudItem>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login" Color="Color.Primary" Href="@ClientRoutes.Accounts.Login">ورود به سامانه</MudButton>
    </MudItem>
</MudStack>