@attribute [Route(ClientRoutes.Accounts.Lockout)]

<PageTitle>مسدود شدن</PageTitle>

<header>
    <h1 class="text-danger">مسدود</h1>
    <p class="text-danger" role="alert">حساب شما مسدود شده است لطفا بعدا مجددا امتحان کنید.</p>
</header>
