@attribute [Route(ClientRoutes.Accounts.ResetPasswordConfirmation)]
@layout EmptyBoxLayout

<PageTitle>تایید بازنشانی رمز عبور</PageTitle>


<MudStack AlignItems="AlignItems.Center">
    <MudItem>
        <span class="brand-text" dir="ltr">GoldEx</span>
    </MudItem>
    <MudItem>
        <MudText Align="Align.Center" Typo="Typo.h5" GutterBottom="true">تایید بازنشانی رمز عبور</MudText>
    </MudItem>
    <MudItem>
        <MudText Align="Align.Center" Typo="Typo.body1" GutterBottom="true">رمز عبور شما بازنشانی شد. لطفا برای ورود <MudLink Href="@ClientRoutes.Accounts.Login">کلیک کنید</MudLink>.</MudText>
    </MudItem>
</MudStack>
