@attribute [Route(ClientRoutes.Accounts.ResetPasswordConfirmation)]

<PageTitle>تایید بازنشانی رمز عبور</PageTitle>

<h1>تایید بازنشانی رمز عبور</h1>
<p role="alert">
    رمز عبور شما بازنشانی شد. لطفا برای ورود <a href="Account/Login">کلیک کنید</a>.
</p>
