@inherits GoldExComponentBase

<MudCard Elevation="24">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">نمودار ارزش موجودی (گرم)</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        @if (_chartResponse is null)
        {
            <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
                <MudText Class="mr-2">در حال بارگیری...</MudText>
            </div>
        }
        else
        {
            if (!_chartResponse.Any())
            {
                <div class="d-flex flex-column gap-4 justify-content-center align-items-center">
                    <MudText>هیچ داده ای در دسترس نیست</MudText>
                </div>
            }
            else
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudChart ChartType="ChartType.Pie"
                              InputData="@_chartData"
                              InputLabels="@_chartLabels"
                              />
                </MudStack>
            }
            <MudSelect T="WarehouseActionType"
                       Label="نوع"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense"
                       Value="_selectedActionType"
                       ValueChanged="OnActionTypeChanged">
                @foreach (var actionType in Enum.GetValues<WarehouseActionType>())
                {
                    <MudSelectItem Value="@actionType">@GetDisplayName(actionType)</MudSelectItem>
                }
            </MudSelect>
        }

    </MudCardContent>
</MudCard>